/* CSS Reset: Resetting default browser styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 10px;
}

header{
    display: flex;
    flex-flow: column wrap;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo, .theme{
    margin:20px;
}
.logo{
    font-size: 2rem;
    text-decoration-line: none;
}

.theme{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.elements{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.quotevalue{
    font-size: 20px;
}
.select{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-left: 20px;
    margin-right: 20px;
}
label{
    font-size: 1.5rem;
}
.generate,.random,#field, input{
    width:120px;
    padding:10px;
    font-size: 1.5rem;
    border: #333 solid 2px;
    border-radius: 10px;
}
.generate,#field{
    width: 200px;
}
.left,.right{
    width:50px;
    border: #333 solid 2px;
    border-radius: 10px;
}
.change{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:10px;
}

body.light-theme {
    background-color: #f0f0f0;
    color: #333;
}
.light-theme *{
    color : darkslategray;
}

/* Dark Theme */
body.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}
.dark-theme button {
    background-color: #555;
    color: #f0f0f0;
}
.dark-theme .logo{
    color: white;
}
.dark-theme .left:hover, .right:hover, .random:hover, .generate:hover,.theme:hover{
    background-color: cadetblue;
}

/*
.generate:hover,.random:hover,.left:hover,.right:hover{
    background-color: #008080;
}
*/